@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url('./images/bg-intro-desktop.png');
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 50px 15px;
}

h1 {
    line-height: 40px;
    text-align: center;
}

p,
input {
    font-size: 16px;
}

h1,
p {
    color: #FFFFFF;
}

.box {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px rgba(0, 0, 0, .15);
    margin-bottom: 25px;
    text-align: center;

}

.box p {
    margin: 0;
}

.box-headline {
    background-color: hsl(248, 32%, 49%);
    padding: 20px 60px;
}

.left-section {
    text-align: center;
    margin-bottom: 60px;
    padding: 0px 5px;
}

.btn {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid hsl(154, 59%, 40%);
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 4px rgb(48 186 127 / 99%);
    cursor: pointer;
    border-radius: 5px;
    padding: 20px 30px 12px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: rgb(119, 226, 180);
}


.box form-headline {
    background-color: hsl(248, 32%, 49%);
}

input {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1.5px solid #E1E1E1;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

input:focus {
    border: 1.5px solid hsl(248, 32%, 49%);
    outline: none;
}

.formfield {
    margin-bottom: 20px;
}

.invalid {
    font-size: 12px;
    color: hsl(0, 100%, 74%);
    font-style: italic;
    font-weight: 500;
    bottom: 0;
    right: 0;
    float: right;
    margin-top: 5px;
    margin-bottom: 20px;
}

.formfield img {
    visibility: hidden;
    position: absolute;
    margin-top:-40px;
    right:60px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



.last {
    color: hsl(0, 0%, 70%);
    font-size: 12px;
    font-weight: 600;
}

.last a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}

@media (min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: row;
        padding: 50px 0px;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-width: 1100px;
        margin: auto;
    }

    .container > div {
        flex: 1;
    }

    .left-section {
        float: left;
        text-align: left;
    }

    .right-section {
        float: right;
    }

    h1 {
        text-align: left;
        font-size: 48px;
        line-height: 50px;
    }

    .box-form {
        padding: 40px;
    }
    
   .formfield img {
    position: relative;
    right: 18em;
    margin-top:-30px;
    }
}
